In [1]:
import pandas as pd
import json

# 1. Criando um Dataset Fake (Simulando um CSV carregado)
data = {
    'Data': ['2024-01-01', '2024-01-02', '2024-01-02', '2024-01-03', '2024-01-03', '2024-01-04'],
    'Produto': ['Notebook', 'Mouse', 'Notebook', 'Teclado', 'Mouse', 'Monitor'],
    'Categoria': ['Eletrônicos', 'Acessórios', 'Eletrônicos', 'Acessórios', 'Acessórios', 'Eletrônicos'],
    'Valor': [4500.00, 150.00, 4200.00, 200.00, 150.00, 1200.00],
    'Quantidade': [1, 5, 2, 10, 3, 1]
}

df = pd.DataFrame(data) # Convertendo dict para DataFrame

df['Total'] = df['Valor'] * df['Quantidade']

# 2. As 3 Funções Sagradas da Inspeção
print("--- 1. Cabeçalho (Top 5 linhas) ---")
display(df.head()) # No Jupyter, use display() ao invés de print() para ficar bonito

print("\n--- 2. Estrutura dos Dados (Schema) ---")
df.info() # Mostra tipos (int, float, object) e nulos

print("\n--- 3. Estatística Descritiva (O Poder!) ---")
display(df.describe())

--- 1. Cabeçalho (Top 5 linhas) ---

         Data   Produto    Categoria   Valor  Quantidade   Total
0  2024-01-01  Notebook  Eletrônicos  4500.0           1  4500.0
1  2024-01-02     Mouse   Acessórios   150.0           5   750.0
2  2024-01-02  Notebook  Eletrônicos  4200.0           2  8400.0
3  2024-01-03   Teclado   Acessórios   200.0          10  2000.0
4  2024-01-03     Mouse   Acessórios   150.0           3   450.0

--- 2. Estrutura dos Dados (Schema) ---
<class 'pandas.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        6 non-null      str
 1   Produto     6 non-null      str
 2   Categoria   6 non-null      str
 3   Valor       6 non-null      float64
 4   Quantidade  6 non-null      int64
 5   Total       6 non-null      float64
dtypes: float64(2), int64(1), str(3)
memory usage: 420.0 bytes

--- 3. Estatística Descritiva (O Poder!) ---

             Valor  Quantidade        Total
count     6.000000    6.000000     6.000000
mean   1733.333333    3.666667  2883.333333
std    2068.252080    3.444803  3070.287717
min     150.000000    1.000000   450.000000
25%     162.500000    1.250000   862.500000
50%     700.000000    2.500000  1600.000000
75%    3450.000000    4.500000  3875.000000
max    4500.000000   10.000000  8400.000000